{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% load gravatar %}
{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Browse ads</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% static "addetails" %}">Browse ads</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <a class="story-img col-md-4" href="#">
                    <img src="{% gravatar_url advert.advertiser.email %}"
                         style="width:150px; height: 150px; background-color: #12ABB2; color: #ffffff;"
                         class="img-circle">
                </a>
                <p class="browseads advertiserdetails"><strong>Advertiser: </strong>{{ advert.advertiser.first_name }} {{ advert.advertiser.last_name }}</p>
                <hr>
            </div>
            <div class="col-md-8 borderleft">
                <h3>{{ advert.item }}</h3>
                {% if advert.image %}
                    <img class="imageplaceholder" src="{{ MEDIA_URL }}{{ advert.image }}"
                         style="width:300px; height: 266px; background-color: #12ABB2; color: #ffffff;">
                {% else %}
                    <div class="imageplaceholder">No images available</div>
                {% endif %}
                <p class="browseads"><strong>Description: </strong>{{ advert.description }}</p>
                <p class="browseads"><strong>Rental rate per
                    day: </strong> &euro; {{ advert.daily_rental_rate }}</p>
                <p class="browseads"><strong>Pick up location: </strong>{{ advert.pickup_location }}</p>
                <p class="browseads"><strong>Available from: </strong> Tue, April 4 2017 </p>
                <p class="browseads"><strong>Views: </strong> {{ advert.views }}</p>
                <hr>
                <p>
                    <button class="btn btn-success" onclick="location.href='{% url 'advertlist' %}'">
                        Back to all ads
                    </button>
                    <button class="btn btn-success" onclick="location.href='{% url 'add_to_cart' advert.id %}'">
                        Add to cart
                    </button>
                    <button class="btn btn-success" onclick="location.href='{% url 'buy_now_stripe' advert.id %}'">
                        Rent it now
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- End of Content -->
    </div>
{% endblock %}
