{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% load gravatar %}
{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Browse ads</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% static "index" %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Browse ads</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-12">
                {% for advert in adverts %}
                    <div class="row adlistitem">
                        <hr>
                        <div class="col-md-4 col-sm-6">
                            {% if advert.image %}
                                <img class="imageplaceholder" src="{{ MEDIA_URL }}{{ advert.image }}" style="width:300px; height: 266px; background-color: #12ABB2; color: #ffffff;">
                            {% else %}
                                <div class="imageplaceholder">No images available</div>
                            {% endif %}
                        </div>
                        <div class="col-lg-8 col-sm-6">
                            <h3>{{ advert.item }}</h3>
                            <div>
                                <p class="browseads"><strong>Rental rate per day: </strong> &euro; {{ advert.daily_rental_rate }}</p>
                                <p class="browseads"><strong>Pick up location: </strong>{{ advert.pickup_location }}</p>
                                <p class="browseads"><strong>Available from: </strong> Tue, April 4 2017 </p>
                                <p class="browseads"><strong>Item rating: </strong></p><span></span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span><span>&#9734;</span></span>
                                <hr>
                                <p><button class="btn btn-success" onclick="location.href='{% url 'addetails' advert.id %}'">View ad
                                        </button>
                                <button class="btn btn-success" onclick="location.href='{% url 'add_to_cart' advert.id %}'">Add to cart
                                        </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}

            </div>
        </div>
        <!-- End of Content -->
    </div>
{% endblock %}
