{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Request to reset password</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% static "index" %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Request to reset password</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <p>Please specify your email address to receive instructions for resetting it.</p>

                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    {{ form.email.errors }}
                    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit"
                                                                                             value="Reset password"/>
                    </p>
                </form>
            </div>
        </div>
        <!-- End of Content -->
    </div>
{% endblock %}
