{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Set new password</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Set new password</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                {% if validlink %}
                    <p>Please enter your new password:</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}

            </div>
        </div>
        <!-- End of Content -->
    </div>
{% endblock %}
