{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Instructions emailed</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Instructions emailed</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <p>We've e-mailed you instructions for resetting your password to the e-mail address you submitted.</p>
            </div>
        </div>
        <!-- End of Content -->
    </div>
{% endblock %}
