{% extends 'base.html' %}
{% load static from staticfiles %}
{% load gravatar %}
{% block content %}
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Contact</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% static "index" %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
            <img src="{% gravatar_url user.email 150 %}" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
            <p>{{ user.username }}</p>
                <p>{{ user.email }}</p>
                <p><a href="{% url 'cart' %}">My cart</a></p>
                <p><a href="{% url 'password_reset' %}">Reset my password</a></p>
            </div>

            {% for advert in adverts %}
                {% if user.id == advert.advertiser_id %}
                    <div>{{ advert.item }}</div>
                    <br>
                    {% else %}
                    <p>You have no adverts</p>
                {% endif %}
            {% endfor %}
        </div>
        <!-- End of Content -->
    </div>
{% endblock %}
