/*navbar*/
#logoNav{
    margin-right: 15px;
}
#re{
    color: #66ff00;
}

.dropdown-menu.dropdown-menu-right{
    background-color: #eaf6ea;
}

/*about section*/
img.img-fluid.rounded{
    padding-bottom: 10px;
}

.contactcard{
    margin-top:5px;
}

/*ad pages and profile*/
.img-circle{
    border-radius: 50%;
    border: 3px solid #eaf6ea;
    margin: 2%
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.borderleft{
    border-left: 3px solid #eaf6ea;
}
advertiserdetails{
    text-align: center;
}

div.row.adlistitem{
    margin-bottom: 20px;
}

.browseads{
    margin-top: 4px;
    margin-bottom: 4px;
}


/*Contact us section*/
a.FAQitem{
    text-decoration: none;
    color: #002B00;
}
a.FAQitem.fa.fa-question {
    width: 100%;
}
#googlemap{
    background-color: grey;
    margin-bottom: 40px;
}

/*footer*/
footer{
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #eaf6ea;
}
.footericon{
    margin: 0px 4px;
    color: #002B00;
}

#footericons{
    margin: 2px 0px;
}

p.m-0.text-center.copyright{
    font-style: italic;
    font-size: 10px;
}

footer.py-5{
    background-color: transparent;
}

/*general*/
body {
    padding-top: 66px;
}
h1{
    margin-top: 8px;
    margin-bottom: 4px;
}
h2, h3, h4, h5, h6{
    margin-top: 0px;
}
a.btn.btn-success{
    float: right;
}

i.fa {
    width: 20px;
}

a{
    color: rgb(61,170,0);
    text-decoration: none;
}

a:hover, a:active{
    color: #002B00;
    text-decoration: none;
}

.card-header{
    margin-top: 0px;
}

h4.card-header,ol.breadcrumb{
    background-color: #eaf6ea;
}

div.card-footer{
    background-color: transparent;
    border-top: none;
}


div.card-header{
    background-color: transparent;
}
