{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}
{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

<!-- Page Heading/Breadcrumbs -->
<h1>Cart</h1>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">Buy Now!</li>
</ol>

<!-- Content Row -->
<div class="row">
    <div class="col-lg-12">

        {% block content %}
            <form role="form" method="post" id="payment-form" action="{% url 'buy_now_stripe' advert.id %}">
                <div id="credit-card-errors" style="display:none">
                    <div class="alert-message block-message error" id="stripe-error-message"></div>
                </div>

                <legend>Buy It Now!</legend>

                <div>
                    <p><img height="100" width="100" src="{{ MEDIA_URL }}{{ advert.image }}"></p>
                    <p>{{ advert.name }}</p>
                    <p>{{ advert.description }}</p>
                    <p>{{ advert.daily_rental_rate }}</p>
                    {#        <p>{{ advert.insurance_package_rate }}</p>#}
                </div>

                <hr>

                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="form-group">
                    <input class="btn btn-success" id="submit_payment_btn" name="commit" type="submit"
                           value="Submit Payment">
                </div>
            </form>
        {% endblock %}

    </div>
</div>