{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Contact</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% static "index" %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Contact</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-lg-8">
                   <iframe src="https://www.google.com/maps/d/embed?mid=1B9nraCA57avUBNwzDFK8_yHrJsQ" width="600" height="340"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-lg-4">
                <h3>Contact Details</h3>
                <br>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                    25, St. Stephen's Green, Dublin
                </p>
                <p>
                    <i class="fa fa-phone" aria-hidden="true"></i> (01) 010-1010
                </p>
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:nakitamccool@gmail.com">hello@hirecycle.com
                    </a>
                </p>
                <p>
                    <i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/CodersInstitute">Find us on Twitter
                    </a>
                </p>
                <p>
                    <i class="fa fa-facebook" aria-hidden="true"></i> <a href="https://www.facebook.com/Code.InstituteIRL/">  Find us on Facebook
                    </a>
                </p>
                <p>
                    <i class="fa fa-linkedin" aria-hidden="true"></i> <a href="https://www.linkedin.com/company-beta/5350891/">Find us on Linkedin
                    </a>
                </p>
                <p>
                    <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/nakitamccool">Find us on Github
                    </a>
                </p>

            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">
                <br>
                <h3>Send us a Message</h3>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <button type="submit" class="btn btn-success">Send message</button>
                </form>
            </div>
        </div>
{#        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->#}
{#        <div class="row">#}
{#            <div class="col-lg-12">#}
{#                <br>#}
{#                <h3>Send us a Message</h3>#}
{#                <form name="sentMessage" id="contactForm" novalidate>#}
{#                    <div class="control-group form-group">#}
{#                        <div class="controls">#}
{#                            <label>Full Name:</label>#}
{#                            <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">#}
{#                            <p class="help-block"></p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="control-group form-group">#}
{#                        <div class="controls">#}
{#                            <label>Phone Number:</label>#}
{#                            <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="control-group form-group">#}
{#                        <div class="controls">#}
{#                            <label>Email Address:</label>#}
{#                            <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="control-group form-group">#}
{#                        <div class="controls">#}
{#                            <label>Message:</label>#}
{#                            <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div id="success"></div>#}
{#                    <!-- For success/fail messages -->#}
{#                    <button type="submit" class="btn btn-success">Send Message</button>#}
{#                </form>#}
{#            </div>#}
{##}
{#        </div>#}
{#        <!-- /.row -->#}

    </div>
    <!-- /.container -->

{% endblock %}