{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1>Contact us</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Contact</li>
        </ol>

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-lg-8">
                   <iframe id="googlemap" src="https://www.google.com/maps/d/embed?mid=1B9nraCA57avUBNwzDFK8_yHrJsQ" width="100%" height="340"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-lg-4">
                <h3>Contact Details</h3>
                <br>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                    25, St. Stephen's Green, Dublin
                </p>
                <p>
                    <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:010101010">(01) 010-1010</a>
                </p>
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:nakitamccool@gmail.com">hello@hirecycle.com
                    </a>
                </p>
                <p>
                    <i class="fa fa-twitter" aria-hidden="true" target=_blank></i> <a href="https://twitter.com/CodersInstitute">Find us on Twitter
                    </a>
                </p>
                <p>
                    <i class="fa fa-facebook" aria-hidden="true" target=_blank></i> <a href="https://www.facebook.com/Code.InstituteIRL/">Find us on Facebook
                    </a>
                </p>
                <p>
                    <i class="fa fa-linkedin" aria-hidden="true" target=_blank></i> <a href="https://www.linkedin.com/company-beta/5350891/">Find us on Linkedin
                    </a>
                </p>
                <p>
                    <i class="fa fa-github" aria-hidden="true" target=_blank></i> <a href="https://github.com/nakitamccool">Find us on Github
                    </a>
                </p>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}